# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Pyenv
.python-version

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VSCode
.vscode/
.history/
*.code-workspace

# MyPy / Pyre / Pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# FastAPI / Uvicorn logs
*.log

# Local config / secrets
.env
.env.*
*.sqlite3

# Docker
docker-compose.override.yml
ai_models/
uploads/
db/
